includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - database
        - routes
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    tmpDir: storage/framework/phpstan